div.collect-your-box__body {
	margin-bottom: 50px;
}
#collect-your-box-anchor {
	visibility: hidden;
	position: relative;
	bottom: 100px;
}
.cb-title {
	margin-bottom: 7%;
}
.sweetness-menu {
	display: flex;
	justify-content: space-around;
	max-width: 300px;
	margin: 0 auto 6%;
}

.box-body {
	display: flex;
	justify-content: space-between;
}

.box-row-m {
	position: relative;
	max-width: 800px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5%;
	flex-wrap: wrap;
	flex-grow: 10;
	flex-basis: 800px;
	margin-right: 8%;
}

.box-menu {
	background-color: #fff;
	box-shadow: 0 0 5px 1px #eee;
	width: 400px;
	height: 680px;
	padding: 75px 50px;
}
.donuts-in-box {
	color: #3a3233;
	font-size: 150%;
	font-weight: 800;
	margin-bottom: 25px;
}
.donut-count-in-box {
	display: flex;
	margin-bottom: 50px;
}
.count-in-box-form {
	margin-right: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.count-in-box-btn {
	width: 35px;
	height: 35px;
	background: transparent;
	border: 2px solid #81cde4;
	color: #81cde4;
	border-radius: 50%;
	font-weight: 800;
	transition-duration: 0.65s;
}
.count-in-box-btn.active {
	transition-duration: 0.65s;
	background: #81cde4;
	color: #fff;
}
.count-in-box-btn:hover {
	background: #9ee;
	color: #ffb;
}
.count-in-box-btn.active:hover {
	background: #81cde4;
	color: #ff5;
}
.your-choise {
	color: #3a3233;
	font-size: 120%;
	font-weight: 800;
	margin-bottom: 20px;
}
.choose-list {
	min-width: 270px;
	height: 180px;
	overflow-y: scroll;
	padding-top: 5px;
	margin-bottom: 50px;
}
.chooselist-element {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 20px;
	margin-bottom: 10px;
}
.donut-name {
	line-height: 150%;
	color: #6d6b6c;
	font-weight: 600;
	white-space: nowrap;
}

.amount {
	font-size: 150%;
	color: #3a3233;
	font-weight: 800;
	margin-bottom: 50px;
}
