.btn {
	height: 65px;
	width: 260px;
	border-radius: 300px;
	font-size: 130%;
	font-weight: 600;
	transition-duration: 0.3s;
}
.btn-blue,
.btn-white:hover {
	background-color: #57bcda;
	color: #fefefe;
	border: 0;
	box-shadow: 0 2px 0 2px #2e93ae;
	position: relative;
}
.btn-blue:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 300px;
	box-shadow: 0 45px 40px 0 #57bcda;
	opacity: 0.4;
}
.btn-white,
.btn-blue:hover {
	background-color: rgba(255, 255, 255, 0); /* лол xD прозрачный цвет) */
	color: #57bcda;
	border: 2px solid #57bcda;
	box-shadow: none;
}
