.box {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.button {
	background-color: transparent;
	border-radius: 50%;
	font-size: 0;
}
.disabled {
	opacity: 0.5;
	background: #eee;
}
.counter {
	text-align: center;
	min-width: 1em;
	display: inline-block;
	color: #575553;
	font-weight: 800;
}
